/* =============
tablet device
=============== */
@media (max-width: 992px) {
  /* common */
  .container {
    max-width: 700px;
  }
  .bars {
    display: inline-block;
  }
  .inner_header nav ul {
    display: none;
  }
  /* banner */
  .inner_banner {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 50px;
  }
  .inner_banner .banner_content h2 {
    margin: 0 auto;
  }
  .inner_banner .banner_content p {
    margin: 10px auto 20px auto;
  }
  /* trust */
  .inner_trust .trust_box {
    flex-wrap: wrap;
    column-gap: 2%;
    row-gap: 30px;
  }
  .inner_trust .trust_box div {
    flex-basis: 32%;
  }
  /* app feature area style */
  .inner_app_feature {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .inner_app_feature img {
    max-width: 600px;
  }
  .inner_app_feature .app_feature_content h3 + p {
    text-align: center;
    max-width: 500px;
  }
  .inner_app_feature .app_feature_content h3 {
    margin: 0 auto 20px auto;
    text-align: center;
  }
  .inner_app_feature .app_feature_content .content_details {
    justify-content: center;
  }
  /* smart */
  .inner_smart .smart_title h3 {
    font-size: 28px;
    line-height: 30px;
  }
  .inner_smart .smart_content {
    column-gap: 20px;
  }
  .inner_smart .smart_content h4 {
    font-size: 17px;
  }
  .inner_smart .smart_img .smart_img_details h4 {
    font-size: 28px;
    line-height: 30px;
  }
  /* ultimate */
  .inner_ultimate {
    flex-direction: column-reverse;
  }
  .inner_ultimate .ultimate_img img {
    max-width: 600px;
  }
  .inner_ultimate .ultimate_content .ultimate_content_title h2 {
    margin: 0 auto 20px auto;
    text-align: center;
  }
  .inner_ultimate .ultimate_content .ultimate_content_title p {
    margin: 0 auto;
    text-align: center;
  }
  .inner_ultimate .ultimate_content .ultimate_content_box {
    text-align: center;
  }
  .inner_ultimate .ultimate_content .ultimate_content_box .inner_content_box {
    flex-basis: 100%;
    margin: 0 auto;
  }
  .ultimate_content_btn {
    margin: 0 auto;
    display: block;
  }
  /* meet */
  .inner_meet {
    flex-wrap: wrap;
  }
  .inner_meet .meet_img {
    flex-basis: 100%;
  }
  .inner_meet .meet_content {
    flex-basis: 100%;
    text-align: center;
  }
  .inner_meet .meet_content h2 {
    margin: 50px auto 0 auto;
  }
  .inner_meet .meet_content h2 + p {
    margin: 20px auto;
  }
  .inner_meet .meet_content p:nth-of-type(2) {
    margin: 0 auto 50px auto;
  }
  .inner_meet .meet_content .people {
    justify-content: center;
  }
}
/* =============
mobile device
=============== */
@media (max-width: 768px) {
  /* common */
  .container {
    max-width: 500px;
  }
  /* banner */
  .inner_banner .banner_content h2 {
    flex-direction: column;
    row-gap: 10px;
    height: 100px;
    justify-content: center;
  }
  .inner_banner .banner_content h1 {
    font-size: 40px;
    max-width: 400px;
  }
  .inner_banner .banner_content p {
    max-width: 300px;
  }
  .inner_banner .banner_img img {
    max-width: 280px;
  }
  .inner_banner .banner_content .btn_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .inner_banner .banner_content .try_btn {
    margin: 0 10px 0 0;
  }

  /* trust */
  .inner_trust .trust_box div {
    flex-basis: 100%;
    text-align: center;
  }
  /* app feature area style */
  .inner_app_feature img {
    max-width: 280px;
  }
  /* smart */
  .inner_smart .smart_title {
    flex-wrap: wrap;
    flex-basis: 100%;
  }
  .inner_smart .smart_title h3 {
    margin-bottom: 20px;
  }
  .inner_smart .smart_title p {
    padding: 0;
    border-left: none;
    height: 110px;
    border-top: 2px solid #ebebeb;
  }
  .inner_smart .smart_content {
    flex-wrap: wrap;
    row-gap: 40px;
    flex-basis: 100%;
    text-align: center;
  }
  .inner_smart .smart_img {
    flex-wrap: wrap;
    flex-basis: 100%;
  }
  .inner_smart .smart_img img {
    max-width: 280px;
    margin-bottom: 50px;
  }
  .inner_smart .smart_img .smart_img_details {
    text-align: center;
    flex-basis: 100%;
  }
  .inner_smart .smart_img .smart_img_details h4 {
    margin: 0 auto;
  }
  /* choose app */
  .inner_choose_app .choose_app_content .choose_content_box {
    flex-basis: 100%;
  }
  .inner_choose_app .choose_app_title h3 {
    font-size: 28px;
  }
  /* ultimate */
  .inner_ultimate .ultimate_img img {
    max-width: 280px;
  }
  .inner_ultimate .ultimate_content .ultimate_content_title h2 {
    font-size: 28px;
  }
  /* pricing */
  .inner_pricing h2 {
    font-size: 28px;
    line-height: 30px;
  }
  .inner_pricing .pricing_card {
    flex-direction: column;
  }
  .inner_pricing .pricing_card .pricing_card_box {
    margin: 35px auto 0 auto;
    width: 300px;
  }
  /* meet */
  .inner_meet .meet_content h2 {
    font-size: 28px;
    line-height: 30px;
  }
  /* faq */
  .inner_faq h2 {
    font-size: 28px;
    line-height: 30px;
  }
  /* copyright */
  .inner_copyright div{
    flex-direction: column;
    row-gap: 25px;
  }
}
